.nav-list {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.navlink {
    line-height: 1.6;
    padding: 1rem;
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    &:hover {
        background-color: var(--black);
    }
}
